.event-gallery {
  display: flex;
  /* width: 60%; */
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.event-gallery {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.slider-image {
  object-fit: cover;
  max-width: 60%;
  height: auto;
}

.event-details {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.single-event-page {
  margin-top: 10px;
}

.timing-menu {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}
@media (max-width: 700px) {
  .single-event-page {
    margin-top: 45px;
  }
  .event-details {
    max-width: 80%;
  }
  .slider-image {
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  .timing-menu {
    flex-direction: column;
  }
}
@media (max-width: 468px) {
  .event-details {
    max-width: 65%;
  }
}
