.single-activity-page {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activity-description,
.activity-participants {
  max-width: 70%;
}
.comment-section {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(128, 128, 128, 0.127);
  padding: 20px;
  margin-bottom: 20px;
}
.each-comment {
  background-color: rgba(213, 213, 213, 0.356);
  margin-bottom: 5px;
  position: relative;
}
.each-comment p {
  width: fit-content;
  /* max-width: 85%; */
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  /* padding: 5px 20px 5px 0; */
  padding: 10px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.time-stamp {
  position: absolute;
  right: 10px;
  bottom: 1px;
  font-size: 12px;
}

.comment-input {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 5px;
  width: 100%;
}
.comment-input * {
  flex-grow: 1;
  height: 40px;
}
.comment-input button,
.attend-button {
  all: unset;
  max-width: fit-content;
  background-color: #226000;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.attend-button {
  margin-bottom: 20px;
}

.comment-input button:hover,
.attend-button:hover {
  background-color: #2f740a;
}
.not-attending {
  background-color: #fe4849;
}
.not-attending:hover {
  background-color: #ea4242;
}
@media (max-width: 800px) {
  .comment-section {
    width: 90%;
  }
  .activity-description,
  .activity-participants {
    max-width: 90%;
  }
}
.not-loggedin {
  min-height: calc(100vh - 390px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
