/* Homepage header styles */

.homepage-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

.homepage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.homepage-section p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.homepage-section-image {
  margin: 20px 0;
}

.homepage-section-image img {
  width: 100%;
  height: auto;
}

.homepage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  color: #2f9659;
}
img {
  max-height: 600px;
}
.homepage-features {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: auto;
  align-items: center;
  column-gap: 40px;
}
.homepage-features img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
button {
  background-color: #2f9659;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .homepage-features {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
  }
  .homepage-features img {
    width: 60%;
    height: 40%;
    object-fit: cover;
  }
  .organize-activity-container,
  #add-business-container {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
  }
  .organize-activity-container button,
  .add-business-container button {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .homepage-section:nth-of-type(1) {
    margin-top: 30px;
  }
}
