input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
/* 
.form-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

.form-input:focus {
  outline: none;
  border-color: #719ece;
}

.form-error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.form-submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #008cba;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-submit-btn:hover {
  background-color: #5a8ac6;
} */

.form-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0;
  background-color: #fff;
}

.form-error {
  margin-top: 5px;
  color: red;
}

.form-submit-btn {
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .signup-form {
    padding: 10px;
  }

  .form-input {
    width: 90%;
  }
}
