.profile-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.profile-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.pro-account-proposal,
.profile-settings,
.add-activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-icon {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.pro-icon {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 400px;
  /* min-width: 500px; */
}

button.save-changes-btn,
.add-btn {
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button.save-changes-btn:hover {
  background-color: #0077b3;
}

.add-activity-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.organize-activity-container {
  display: flex;
  justify-content: space-evenly;
  column-gap: 40px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-items: center;
  font-size: 18px;
}
ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .profile-container {
    width: 100%;
  }
  .pro-account-proposal,
  .profile-settings,
  .add-activity-container {
    width: 100%;
  }
  .organize-activity-container {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
}
.add-business-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-business-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  column-gap: 40px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 800px) {
  .add-business-container {
    flex-direction: column;
    width: 100%;
  }

  .add-business-text,
  .add-business-image {
    width: 100%;
  }
  .profile-container {
    width: 80%;
  }
}
