.form-page {
  margin-top: 50px;
  min-height: calc(100vh - 420px);
}
.signup-form {
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

.form-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0;
  background-color: #fff;
}

.form-error {
  margin-top: 5px;
  color: red;
}
.form-submitting {
  color: #008cba;
}
.form-success {
  color: rgb(45, 121, 45);
}

.form-submit-btn {
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}
.form-submit-btn:hover {
  background-color: #097396;
}

@media screen and (max-width: 600px) {
  .signup-form {
    padding: 10px;
  }

  .form-input {
    width: 90%;
  }
}
