.my-activities-list {
  background-color: #afc5e821;
  padding: 10px 100px;
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.my-activities-map {
  background-color: #a43f00;
  color: white;
  width: 100%;
  padding: 5px 100px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.my-activities-map div {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: fit-content;
  min-width: 50%;
}
.past-activities {
  background-color: #a4b6d253;

  color: grey;
  cursor: default;
}
.delete-activity {
  background-color: red;
  /* width: 10px; */
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  padding: 10px;
  max-height: 20px;
  cursor: pointer;
}
.notifications {
  display: flex;
  position: absolute;
  right: 10px;
  font-size: 20px;
}
@media (max-width: 800px) {
  .my-activities-map {
    max-width: 70%;
    line-height: 1.3;
  }
}
